* {
  font-family: Tahoma, Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  color: #f9f9f9;
}

#main {
  display: flex;
  flex-direction: row;
  height: 100%;
  color: #f9f9f9;
  background-color: #ccccff;
}

#form_container {
  width: 25%;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
  background-color: #ff88cc;

  .formSection {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    color: #ff88cc;
    background-color: #f9f9f9;

    button {
      padding: 6px;
      border-width: 0;
      border-radius: 4px;
      font-weight: bold;
      line-height: 1.5em;
      color: #f9f9f9;
      background-color: #ff88cc;
    }
  }
}

.formInput {
  margin: 0 0 10px 0;

  .formLabel {
    margin-bottom: 2px;
    font-weight: bold;
  }

  input {
    width: calc(100% - 6px);
  }
}

#canvas_container {
  flex-grow: 1;

  #grid_container {
    height: calc(100% - 4px);
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right, #a3a3a3 1px, transparent 1px), linear-gradient(to bottom, #a3a3a3 1px, transparent 1px);
  }
}

h1 {
  margin: 0;
}