@use 'sass:color';

$primary: #ff88cc;
$secondary: #ccccff;
$white: #f9f9f9;

* {
  font-family: Tahoma, Arial, sans-serif;
}

html,
body {
  height: 100vh;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

a {
  color: $white;
}

button {
  padding: 6px;
  border-width: 0;
  border-radius: 4px;
  min-width: 60px;
  font-weight: bold;
  line-height: 1.5em;
  color: $white;
  background-color: $primary;

  &:hover {
    background-color: color.adjust($primary, $lightness: 5%);
  }

  &.disabled {
    background-color: color.adjust($primary, $saturation: -70%);
  }
}

#main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: $white;
  background-color: $secondary;
}

#right_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#form_container {
  width: 240px;
  padding: 10px;
  overflow-y: auto;
  background-color: $primary;

  .formSection {
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    color: $primary;
    background-color: $white;
  }
}

.formInput {
  margin: 0 0 10px 0;

  .formLabel {
    margin-bottom: 2px;
    font-weight: bold;
  }

  input,
  textarea {
    width: calc(100% - 6px);
  }

  textarea {
    height: 100px;
    min-height: 50px;
    resize: vertical;
    font-family: Courier, Lucida, monospace;
  }

  .sliderInput {
    display: flex;
    width: 100%;

    input {
      flex-grow: 1;
    }

    span {
      width: 40px;
      text-align: center;
    }
  }
}

#canvas_container {
  flex-grow: 1;

  canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right, #a3a3a3 1px, transparent 1px),
      linear-gradient(to bottom, #a3a3a3 1px, transparent 1px);
  }
}

#toolbar_container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $white;

  h2 {
    color: $primary;
    flex: 1;
  }
}
